* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFDD0;
    font-family: sans-serif;
    overflow-x: hidden;
}

body {
    background-image: linear-gradient(to right, #2d1b33, #251a2e, #2c1e35);
    display: flex;
    flex-direction: column;
    width: 100%;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin: 4rem;
}

.hero-section {
    overflow-y: hidden;
    margin: 1rem;
}


.nav img {
    width: 10vw;
    margin-top: 1rem;
    position: absolute;
    cursor: pointer;
    opacity: .5;
    transition: .5s ease-in-out;
}

.nav img:hover {
   transform: scale(1.1);
   transition: .5s ease-in-out;
   opacity: 1;
}

.hero-section, .game-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.games {
    display: flex;
    flex-direction: row;  
}

.game-section::before {
    content: '';
    background: white;
    top: 0;
    width: 50vw;
    height: 2px;
    border-radius: 25px;
}

.game-section {
    margin: 1rem;
}

.game-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.img-container h3 {
text-align: center;
margin-top: .5rem;
}

.img-container {
    margin: 2rem 3rem .5rem 3rem;
    max-width: 15rem;
    justify-content: space-around;
    border: 2px solid #808080;
    box-shadow: 0 0 3px white;
    transition: .3s ease-in-out;
    border-radius: 25px;
    padding: 1rem 2rem;
    cursor: pointer;
}

.img-container:hover {
    transform:scale(1.02);
    transition: .3s ease-in-out;
}

.img-container img {
    max-width: 11rem;
    border-radius: 25px;
}